<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  {% if title %}
    <title>{{ title }} - Feeder</title>
  {% else %}
    <title>Welcome to Dreader</title>
  {% endif %}
</head>
<body>

<div class="grid-container">
  <div class="grid-menu dark-grey">
    <div class="vertical-menu ">
      <a href="{{ url_for('.index') }}" >HOME</a>
      <a href="/explore">Explore</a>
      <a href="https://drobilica.com/cv">About</a>
    </div>
  </div>
  <div class="grid-menu-header centrate light-grey">Dreader-NoSQL</div>
  <div class="grid-main overflow ">
  {% block content %}
    <div class="feed-content">
    {% for group, feeds in all_feeds.items() %}
        <h1>{{ group }}</h1>
        {% for feed in feeds %}
            <h2>{{ feed.name }}</h2>
            {% for entry in feed.entries %}
                <div class="feed-entry">
                    <div class="entry-image">
                        {% if entry.media_thumbnail %}
                            <img src="{{ entry.media_thumbnail[0].url }}" alt="Thumbnail" loading="lazy">
                        {% endif %}
                    </div>
                    <div class="entry-content">
                        <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>
                        <p>{{ entry.summary[:300] }}{% if entry.summary|length > 300 %}...{% endif %}</p>
                    </div>
                    <div class="entry-footer">
                        {# <small>Published on: {{ entry.published }}</small> #}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>


    {#this works
      <div class="feed-content">
        {% for group, feeds in all_feeds.items() %}
            <h1>{{ group }}</h1>
          {% for feed in feeds %}
                <h2>{{ feed.name }}</h2>
                {% for entry in feed.entries %}
                    <div class="feed-entry">
                      <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>
                        <p>{{ entry.summary }}</p>
                        <small>Published on: {{ entry.published }}</small>
                    </div>
              {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
 #}

  {% endblock %}



  </div>
  <div class="grid-sidebar dark-grey">
    {% block right_content %}{% endblock %}
  </div>
  <div class="grid-footer centrate light-grey"> Copyright © <script>document.write(new Date().getFullYear())</script>&nbsp;<a href="https://drobilica.com/">  drobilica.com</a></div>
</div>

</body>
</html>
